@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonths .rdrMonth {
  width: 100%;
}

.rdrCalendarWrapper {
  font-size: 16px;
  width: 100%;
}